<div class="container">
<mat-card
  class="loginCard"
>
  <p>Prijavi se</p>
  <form [formGroup]="form" (ngSubmit)="submitLogin()">
    <input
      class="inputLogin"
      placeholder="Korisničko ime"
      formControlName="username"
      required
    />
    <input
      class="inputLogin"
      type="password"
      placeholder="Lozinka"
      formControlName="password"
      required
    />
    <button
      mat-raised-button
      type="submit"
    >
      Potvrdi
    </button>
  </form>
  <a routerLink="/register" style="color:#482854;padding-left: 20px;cursor: pointer;text-decoration: none;">Nemate nalog?</a>
</mat-card>
</div>
